body{
    background-color: rgb(56, 197, 197);
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.658) 5px 5px 10px;
}
footer{
    padding: 20px;
    color: white;
    text-align: center;
    font-style: italic;
}
#botao{
    border-radius: 20px;
}